[project]
	description = Contrail Virtual Network Controller
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aswanikumar90
[access "refs/for/refs/*"]
	read = group user/aswanikumar90
	push = group user/aswanikumar90
	label-Code-Review = -2..+2 group user/aswanikumar90
	label-Verified = -1..+1 group user/aswanikumar90
	rebase = group user/aswanikumar90
	removeReviewer = group user/aswanikumar90
	submit = group user/aswanikumar90
[access "refs/heads/*"]
	read = group user/aswanikumar90
	create = group user/aswanikumar90
	push = +force group user/aswanikumar90
	pushMerge = group user/aswanikumar90
[access "refs/tags/*"]
	push = +force group user/aswanikumar90
	pushTag = group user/aswanikumar90
	pushSignedTag = group user/aswanikumar90
